
.error {
   color: red;
 }
h1 {
    font-size: 1.4em;
  }
  
  em {
     font-style: normal;
  }
  
  a {
     text-decoration: none;
     color: inherit;
  } 
  
  /* Layout */
  .s-layout {
     display: flex;
     width: 100%;
     min-height: 100vh;
  }
  
  .s-layout__content {
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1;
     margin-left: 15em;
      margin-top: 107px;
      padding-left: 226px;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     z-index: 2;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 4em;
     background: #192b3c;
  }
  
  .s-sidebar__trigger > i {
     display: inline-block;
     margin: 1.5em 0 0 1.5em;
   
  }
  
  .s-sidebar__nav {
     position: fixed;
     top: 0;
     left: -15em;
     overflow: hidden;
     transition: all .3s ease-in;
     width: 15em;
     height: 100%;
     color: rgba(255, 255, 255, 0.7);
  }
  
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:focus + .s-sidebar__nav,
  .s-sidebar__trigger:hover + .s-sidebar__nav {
     left: 0;
  }
  
  .s-sidebar__nav ul {
     position: absolute;
     top: 4em;
     left: 0;
     margin: 0;
     padding: 0;
     width: 15em;
  }
  
  .s-sidebar__nav ul li {
     width: 100%;
  }
  
  .s-sidebar__nav-link {
     position: relative;
     display: inline-block;
     width: 100%;
     height: 4em;
     color: white;
  }
  
  .s-sidebar__nav-link em {
     position: absolute;
     top: 50%;
     left: 4em;
     transform: translateY(-50%);
  }
  
  .s-sidebar__nav-link:hover {
     background: #4d6276;
     color: white;
  }
  
  .s-sidebar__nav-link > i {
     position: absolute;
     top: 0;
     left: 0;
     display: inline-block;
     width: 4em;
     height: 4em;
  }
  
  .s-sidebar__nav-link > i::before {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
  }
  
  /* Mobile First */
  @media (min-width: 42em) {
     .s-layout__content {
        margin-left: 4em;
     }
     
     /* Sidebar */
     .s-sidebar__trigger {
        width: 4em;
     }
     
     .s-sidebar__nav {
        width: 4em;
        left: 0;
     }
     
     .s-sidebar__nav:hover,
     .s-sidebar__nav:focus,
     .s-sidebar__trigger:hover + .s-sidebar__nav,
     .s-sidebar__trigger:focus + .s-sidebar__nav {
        width: 15em;
     }
  }
  
  @media (min-width: 68em) {
     .s-layout__content {
        margin-left: 15em;
     }
     
     /* Sidebar */
     .s-sidebar__trigger {
        display: none
     }
     
     .s-sidebar__nav {
        width: 15em;
     }
     
     .s-sidebar__nav ul {
        top: 1.3em;
     }
     
  }


/* add blog image css */
  .btn-file {
   position: relative;
   overflow: hidden;
}

.btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
}

input[readonly] {
   background-color: white !important;
   cursor: text !important;
   color: black !important;
}


 
/* css for view_blog table design */
table th , table td{
   text-align: center;
   }
   
   table tr:nth-child(even){
   background-color: #e4e3e3
   }
   
   th {
   background: #333;
   color: #fff;
   }
   
   .pagination {
   margin: 0;
   }
   
   .pagination li:hover{
   cursor: pointer;
   }
   
   .num_rows {
   width: 20%;
   float:left;
   }
   .tb_search{
   width: 20%;
   float:right;
   }
   .pagination-container {
   width: 70%;
   float:left;
   }
   
   .rows_count {
   width: 20%;
   float:right;
   text-align:right;
   color: #999;
   }
